body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: xx-large;
}
.page {
    margin: 0px 20vmin;
}
.button {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 12.632px;
    transition: 1s;
}
.button a {
    text-decoration: none;
}
.button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    transition: 0.25s;
    cursor: pointer;
}

.frosted {
    opacity: 1;
    background-color: rgba(200, 200, 200, 0.50);
    backdrop-filter: saturate(120%) blur(10px);
}

.glass {
    background-color: rgba(200, 200, 200, 0.50);
	backdrop-filter: saturate(120%) blur(10px);
}

.panel {
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    /*margin-left: auto;
    margin-right: auto;*/
    position:relative;
}
.centerobj {
    margin-left: auto;
    margin-right: auto;
}
.dense {
    padding: 25px 25px;
}
.sleek {
    padding: 10px 10px;
}
.panel p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.centered {
    text-align: center;
    width: 100%;
}

.full {
    width: 100%;
}
.fit {
    width: auto;
}
.sub {
    width: calc(90% - 5vh);
}

.info {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 25px;
}
html, body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    scrollbar-width: none;
	max-width: 100%;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.header, .body, .footer {
    width: auto;
    padding: 5vh 0vw;
}
.header {
    display: flex;
    align-content: center;
    justify-content:center;
    flex-wrap: wrap;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    flex-direction: row;
}
.header > * {
    margin-top: auto;
    margin-bottom: auto;
    flex: 0 1 0;
}
.header > .title {
    width: auto;
    float: left;
    text-align: right;
    padding: 5vh 5vw;
}
.header > .title > * {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.header > .title > h1 {
    white-space: nowrap;
}
.body > * + * {
    margin-top: 5vmin;
}
.body > .group > * + * {
    margin-top: 5vmin;
}
.group {
    display: none;
}